/* CustomModal.css */

.custom-modal {
  border-radius: 10px;
}

.custom-modal .modal-content {
  background-color: #f8f8f8;
}

.custom-modal .modal-header {
  background-color: #f1f1f1;
  border-bottom: none;
}

.custom-modal .modal-title {
  font-weight: bold;
  color: #333;
}

.custom-modal .modal-body {
  text-align: center;
}

.custom-modal .modal-body p {
  margin-bottom: 1rem;
}

.custom-modal .profile-picture {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.custom-modal .modal-footer {
  background-color: #f1f1f1;
  border-top: none;
}

.custom-modal .modal-footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
