/* .auth{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}
.auth>div{
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* left side */
/* .a-left{
    gap:2rem;
}
.a-left>img{
    width: 4rem;
    height: 4rem;
}
.webName>h1{
    font-size: 3rem;
    background-color: red;
    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.webName>h6{
    font-size: 0.85rem;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "playfair Display";
}
html {
  font-size: 62.5%;
}
.main_div {
  width: 100%;
  height: 100vh;
  position: relative;
}
.box {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.box h1 {
  margin-bottom: 30px;
  /* color: #000; */
  text-align: center;
}
.box .inputBox {
  position: relative;
}
.box .inputBox input {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
}
.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 2rem !important;
  color: #000;
  transition: 0.5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f15946;
  font-size: 1.5rem;
  background: transparent;
}
.box input[type="submit"] {
  /* background: transparent; */
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #f15946;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1.8rem;
  transition: 0.5s;
}
.box input[type="submit"]:hover {
  background-color: #e01a4f;
}
.eyeBtn {
  border: none;
  background: none;
  position: absolute;
  margin-top: 5%;
  margin-left: -5%;
}
.authHeadfing {
  color: #f15946;
  font-size: 3rem;
}
video:not(.PostVideo, .detailVideo) {
  width: 100vw;
  height: 100%;
  filter: brightness(0.6);
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.signup-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transform: translate(92px, -16px);
  border: 1px solid #666;
}
.fa-plus-circle {
  transform: translate(55px, 44px);
  color: #f15946;
}
@media (max-width: 420px) {
  .box {
    width: 300px;
  }
  html {
    font-size: 50%;
  }
}
