.mainScreen {
  min-height: 93vh;
  display: flex;
  padding: 10px 0;
}
.page {
  width: 59vw;
}
.noteHeading {
  font-size: 4rem;
  color: #666;
  padding: 5px 10px;
}

@media (max-width: 600px) {
  .noteHeading {
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }
}
