*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: playfair Display;
}
.contact
{
    margin: 100px auto;
    width: 80%;
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
    background-position: center;
    /* filter: brightness(0.5); */
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color: #F15946;
    margin-bottom: 40px;
    padding: 0;
  
}
.contactButn{
    padding: 10px 25px;
    background-color: #fff;
    color:#F15946;
    font-weight: 600;
}
.contactButn:hover{
    background-color: #F15946;
    color: #fff;
}