*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playfair Display';
}
.rightSise{
    margin-top: 20px;
}
.stats{
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}