.topbarNav {
  width: 100%;
  background: var(--color-white);
  padding: 1.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
}
nav .Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}
.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var--(--color-dark);
}
.search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}
nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 515px) {
  .topbarNav {
    display: none;
  }
}
