.projInput {
  padding: 1rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
  background-color: white;
}
.projLabel {
  width: 100%;
  font-size: 1.5rem;
  color: #666;
  margin-top: 2%;
}
.projbtn {
  margin-top: 2%;
}
.projForm {
  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
}
